
.logo {
    width: 150px;
}

.menu {
    background: #333;
}

.menu ul {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 30px;
    height: 100%;
}

.menu ul li {
    padding: 10px;
    color: white;
    line-height: 10px;
    transition: .2s all;
}

.menu ul li:hover {
    background: coral;
}